@media-mobile: ~"only screen and (max-width: 767px)";
@media-tablet: ~"only screen and (max-width: 960px)";
@media-laptop: ~"only screen and (max-width: 1024px)";
@media-desktop: ~"only screen and (max-width: 1200px)";

@font-face {
  font-family: "GearedSlab";
  src: url(../fonts/GearedSlab-Bold.woff);
}

@font-face {
  font-family: "Avenir";
  src: url(../fonts/Avenir-Roman-12.woff);
}

@font-face {
  font-family: "Avenir Medium";
  src: url(../fonts/Avenir-Medium-09.woff);
}

// Fonts
@font-size: 18px;
@lh: 1.4;
@font: "Avenir", sans-serif;
@font-medium: "Avenir Medium", sans-serif;
@heading: "GearedSlab";

// Weights
@thin: 300;
@reg: 400;
@medium: 500;
@bold: 700;

// Colors
@text: #260e0d;
@brown: #cc8a00;
@dbrown: #33130f;
@tan: #d56518;
@dark: #010101;
@red: #bc211b;

html {
  font-size: 62.5%;
}

body {
  font-size: @font-size;
  line-height: @lh;
  font-family: @font;
  font-style: normal;
  font-weight: @reg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @heading;
}

h2 {
  font-size: 3.4rem;
  line-height: 38px;
  font-weight: @bold;
}

.wp-block-group__inner-container {
  max-width: 1200px;
  margin: 0 auto;
}

iframe {
  width: 100%;
}

.uk-justify-sb {
  justify-content: space-between;
}

#search {
  position: relative;

  input.search-input {
    margin: 0;
    padding: 0.5em 1em;
    padding-right: 35px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
  }

  i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}

.uk-container {
  max-width: 1400px;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: @bold;
  font-size: 2.2rem;

  &.red {
    background: @red;
    color: white;
  }

  &.brown {
    background: @brown;
    color: white;
  }
}

header {
  &.sjc_notification {
    background: @tan;
    padding: 15px 0;

    p,
    a {
      color: white;
      font-family: @font-medium;
    }
  }
  &.sjc_header {
    background: white;
    padding: 10px 0;

    .menu {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      a {
        font-size: 2rem;
        font-family: @font-medium;
      }
    }

    .top-menu {
      a {
        display: block;
        color: @text;
        font-weight: @bold;
        padding: 0.8em;
      }
      .uk-flex {
        justify-content: flex-end;
      }
    }

    .bottom-menu {
      a {
        display: block;
        color: @brown;
        font-weight: @bold;
        padding: 0.8em;
      }
      .uk-flex {
        justify-content: flex-end;
      }
    }

    li.menu-item-has-children {
      position: relative;

      &:hover {
        .sub-menu {
          left: 0;
        }
      }
    }

    .sub-menu {
      min-width: 290px;
      background: white;
      border: 1px solid #bf3819;
      padding: 15px;
      margin: 0;
      list-style: none;
      position: absolute;
      left: -999em;

      li {
        a {
          color: @dbrown;
          display: block;
          padding: 5px;
          font-size: 1.6rem;
        }
      }
    }
  }
}

footer {
  &.footer {
    background: @dark;
    padding: 70px 0;

    *:not(.icon) {
      color: white;
    }

    .menu {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin-right: 30px;
        margin-bottom: 18px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .footer_text {
      max-width: 400px;
    }

    .social {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      text-align: right;

      li {
        padding-left: 5px;
      }

      .icon {
        display: block;
        width: 60px;
        height: 60px;
        background-size: 100% !important;

        &.icon-facebook {
          background: url(../img/facebook.png) no-repeat;
        }
        &.icon-twitter {
          background: url(../img/twitter.png) no-repeat;
        }
        &.icon-instagram {
          background: url(../img/instagram.png) no-repeat;
        }
        &.icon-pinterest {
          background: url(../img/pinterest.png) no-repeat;
        }
      }
    }
  }
}

section.sjc {
  &.sjc_banner {
    .banner__bottom {
      background: @dbrown;
      padding: 50px 0;

      * {
        color: white;
      }

      p {
        font-size: 2rem;
      }

      .uk-container {
        position: relative;
      }
    }

    .banner__image {
      max-width: 600px;
      margin-left: auto;
      margin-top: -340px;
      margin-bottom: -60px;
    }

    .uk-flex {
      div:first-child {
        flex: 1.4;
      }
      > div {
        flex: 1;
      }
    }
  }
  &.sjc_episode {
    padding: 50px 0;

    .episode__comp {
      position: relative;
    }

    .episode__details {
      padding: 25px;
      background: #f2f2f2;
      border-radius: 20px;
      position: relative;
      z-index: 3;
      max-width: 62%;
      opacity: 1;
      visibility: visible;
      transition: all 0.35s;

      &.inactive {
        opacity: 0;
        visibility: hidden;
      }
    }

    .episode__image {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;

      img {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }

      &.inactive {
        opacity: 0;
        visibility: hidden;
      }
    }

    .episode__iframe {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: all 0.35s;

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    .details__thumbnail {
      margin-right: 25px;
    }

    .details__text {
      * {
        margin: 0;
      }

      p.details__duration {
        font-size: 1.8rem;
      }

      p.details__series {
        font-size: 2rem;
      }

      h4 {
        font-size: 3rem;
        font-weight: @bold;
      }
    }

    .text__buttons {
      margin-top: 55px;

      .btn {
        min-width: 200px;
        text-align: center;
        margin-right: 15px;
      }
    }
  }
  &.sjc_links {
    padding: 50px 0;
    .links__container {
      flex-wrap: wrap;
      a,
      img {
        display: inline-block;
        padding: 8px;
        max-width: 105px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

@media @media-laptop {
  header.sjc_header {
    .menu {
      a {
        font-size: 1.6rem;
      }
    }
    .top-menu,
    .bottom-menu {
      a {
        padding: 8px;
      }
    }

    img {
      max-width: 130px;
    }
  }

  section.sjc.sjc_episode .episode__details {
    max-width: 75%;
  }
}

@media @media-tablet {
  .sjc_notification {
    a,
    p {
      font-size: 1.5rem;
    }
  }

  .menu-icon {
    border: none;
    background: transparent;
    font-size: 3rem;
  }

  .uk-offcanvas-bar {
    background: white;

    * {
      color: @brown !important;
    }

    .menu-top-menu-container {
      margin-top: 50px;
    }

    .menu {
      margin: 0;
      padding: 0;
      list-style: none;

      a {
        display: block;
        padding: 8px;
      }
    }
  }

  section.sjc {
    &.sjc_banner {
      .banner__background {
        min-height: 240px !important;
      }
      .banner__image {
        margin: 0;
      }
    }
    &.sjc_episode {
      .episode__image {
        display: none;
      }
      .episode__details {
        max-width: 100%;
      }
    }
  }
}

@media @media-mobile {
  footer.footer {
    .uk-flex {
      display: block;
    }
  }

  section.sjc {
    &.sjc_banner {
      .uk-flex {
        display: block;
      }
    }
    &.sjc_episode {
      .text__buttons {
        margin-top: 15px;
      }
      .details__text {
        h4 {
          font-size: 2.4rem;
          line-height: 28px;
        }
      }
    }
  }
}
